In [ ]:
import pandas as pd
ad=pd.read_excel("/content/Adidas_US_Sales_Datasets_1_.xlsx")
ad

,Unnamed: 0,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,NaN,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.00,0.50,In-store
1,NaN,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.00,0.30,In-store
2,NaN,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.00,0.35,In-store
3,NaN,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.00,0.35,In-store
4,NaN,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.00,0.30,In-store
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9643,NaN,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Men's Apparel,50.0,64,3200.0,896.00,0.28,Outlet
9644,NaN,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Women's Apparel,41.0,105,4305.0,1377.60,0.32,Outlet
9645,NaN,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Street Footwear,41.0,184,7544.0,2791.28,0.37,Outlet
9646,NaN,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42.0,70,2940.0,1234.80,0.42,Outlet
9647,NaN,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,2407.0,649.89,0.27,Outlet

In [ ]:
#1.	List all the retailers with retailer id.
uni=ad.groupby(["Retailer","Retailer ID"])
uni["Retailer"].unique()

Retailer       Retailer ID
Amazon         1185732               [Amazon]
Foot Locker    1128299          [Foot Locker]
               1185732          [Foot Locker]
               1197831          [Foot Locker]
Kohl's         1128299               [Kohl's]
               1185732               [Kohl's]
               1189833               [Kohl's]
               1197831               [Kohl's]
Sports Direct  1128299        [Sports Direct]
               1185732        [Sports Direct]
               1197831        [Sports Direct]
Walmart        1128299              [Walmart]
               1185732              [Walmart]
               1197831              [Walmart]
West Gear      1128299            [West Gear]
               1185732            [West Gear]
               1197831            [West Gear]
Name: Retailer, dtype: object

In [ ]:
#2.	List all the retailers in every region.
re=ad.groupby("Region")
re['Retailer'].unique().apply(list)

Region
Midwest      [Foot Locker, Sports Direct, Kohl's, West Gear...
Northeast    [Foot Locker, Walmart, Sports Direct, West Gea...
South        [Sports Direct, Walmart, West Gear, Foot Locke...
Southeast    [Foot Locker, West Gear, Sports Direct, Walmar...
West         [West Gear, Kohl's, Foot Locker, Amazon, Walma...
Name: Retailer, dtype: object

In [ ]:
#3.	List the retailers in every city of a state.
li=ad.groupby(["State","City"])
li['Retailer'].unique().apply(list)

State           City
Alabama         Birmingham                        [Sports Direct, Amazon]
Alaska          Anchorage                           [Amazon, Foot Locker]
Arizona         Phoenix                             [Foot Locker, Kohl's]
Arkansas        Little Rock                          [Walmart, West Gear]
California      Los Angeles                         [Kohl's, Foot Locker]
                San Francisco                         [West Gear, Kohl's]
Colorado        Denver                                        [West Gear]
Connecticut     Hartford                     [Sports Direct, Foot Locker]
Delaware        Wilmington                          [Foot Locker, Kohl's]
Florida         Miami             [Foot Locker, West Gear, Sports Direct]
                Orlando               [Sports Direct, Walmart, West Gear]
Georgia         Atlanta                      [Sports Direct, Foot Locker]
Hawaii          Honolulu            [Foot Locker, Walmart, Sports Direct]
Idaho           Boise             [Foot Locker, West Gear, Sports Direct]
Illinois        Chicago                      [Foot Locker, Sports Direct]
Indiana         Indianapolis                                  [West Gear]
Iowa            Des Moines                       [Foot Locker, West Gear]
Kansas          Wichita                             [Kohl's, Foot Locker]
Kentucky        Louisville                          [Amazon, Foot Locker]
Louisiana       New Orleans                      [West Gear, Foot Locker]
Maine           Portland                              [Amazon, West Gear]
Maryland        Baltimore         [West Gear, Foot Locker, Sports Direct]
Massachusetts   Boston                            [Sports Direct, Amazon]
Michigan        Detroit                      [Sports Direct, Foot Locker]
Minnesota       Minneapolis                         [Foot Locker, Kohl's]
Mississippi     Jackson             [Foot Locker, Walmart, Sports Direct]
Missouri        St. Louis                        [Foot Locker, West Gear]
Montana         Billings                          [Kohl's, Sports Direct]
Nebraska        Omaha                        [Foot Locker, Sports Direct]
Nevada          Las Vegas                                     [West Gear]
New Hampshire   Manchester                          [Amazon, Foot Locker]
New Jersey      Newark                            [Kohl's, Sports Direct]
New Mexico      Albuquerque                       [Kohl's, Sports Direct]
New York        Albany                                [West Gear, Kohl's]
                New York            [Foot Locker, Walmart, Sports Direct]
North Carolina  Charlotte                         [Sports Direct, Amazon]
North Dakota    Fargo                        [Sports Direct, Foot Locker]
Ohio            Columbus                              [Amazon, West Gear]
Oklahoma        Oklahoma City                         [West Gear, Kohl's]
Oregon          Portland                                      [West Gear]
Pennsylvania    Philadelphia                     [Foot Locker, West Gear]
Rhode Island    Providence                   [Foot Locker, Sports Direct]
South Carolina  Charleston                   [Foot Locker, Sports Direct]
South Dakota    Sioux Falls                  [Foot Locker, Sports Direct]
Tennessee       Knoxville                    [Sports Direct, Foot Locker]
Texas           Dallas                       [Sports Direct, Foot Locker]
                Houston               [Sports Direct, Walmart, West Gear]
Utah            Salt Lake City                                [West Gear]
Vermont         Burlington                            [Amazon, West Gear]
Virginia        Richmond                     [Foot Locker, Sports Direct]
Washington      Seattle                          [West Gear, Foot Locker]
West Virginia   Charleston                       [West Gear, Foot Locker]
Wisconsin       Milwaukee                                     [West Gear]
Wyoming         Cheyenne                            [Kohl's, Foot Locker]
Name: Retailer, dtype: object

In [ ]:
#4.	List the products sold by the retailer in every city.
pro=ad.groupby(["Retailer","City"])
pro['Product'].apply(list)

Retailer   City
Amazon     Anchorage         [Women's Apparel, Men's Street Footwear, Men's...
           Birmingham        [Men's Street Footwear, Men's Athletic Footwea...
           Boston            [Women's Apparel, Men's Street Footwear, Men's...
           Burlington        [Women's Athletic Footwear, Men's Apparel, Wom...
           Charlotte         [Women's Street Footwear, Women's Athletic Foo...
                                                   ...
West Gear  Portland          [Men's Street Footwear, Men's Athletic Footwea...
           Salt Lake City    [Women's Athletic Footwear, Men's Apparel, Wom...
           San Francisco     [Men's Apparel, Women's Apparel, Men's Street ...
           Seattle           [Men's Apparel, Women's Apparel, Men's Street ...
           St. Louis         [Women's Street Footwear, Women's Athletic Foo...
Name: Product, Length: 108, dtype: object

In [ ]:
#5.	Find the total sales of every retailer.
tot=ad.groupby("Retailer")
tot.apply(lambda x: x['Total Sales'].sum())
#tot['Total Sales'].sum()

Retailer
Amazon            77698912.0
Foot Locker      220094720.0
Kohl's           102114753.0
Sports Direct    182470997.0
Walmart           74558410.0
West Gear        242964333.0
dtype: float64

In [ ]:
#6.	Find the total sales of the retailers in every city along with profit.
tot1=ad.groupby(["Retailer","City"])
print("Total sales of the retailers in every city:\n",tot1["Total Sales"].sum())
print("Profit of each retailer\n",tot1["Operating Profit"].sum())

Total sales of the retailers in every city:
 Retailer   City
Amazon     Anchorage         13365025.0
           Birmingham          409091.0
           Boston             4193590.0
           Burlington        13380463.0
           Charlotte          3733676.0
                                ...
West Gear  Portland          21934257.0
           Salt Lake City     9696420.0
           San Francisco     33360397.0
           Seattle           24862675.0
           St. Louis          1701133.0
Name: Total Sales, Length: 108, dtype: float64
Profit of each retailer
 Retailer   City
Amazon     Anchorage         4143804.75
           Birmingham         146947.48
           Boston            1375377.31
           Burlington        5376161.02
           Charlotte         1532481.72
                                ...
West Gear  Portland          7712540.80
           Salt Lake City    3873429.10
           San Francisco     9843005.12
           Seattle           6469771.84
           St. Louis          681457.25
Name: Operating Profit, Length: 108, dtype: float64

In [ ]:
#7.	Find the total sales &profit of each product sold by the retailer.
profit=ad.groupby(["Retailer","Product"])
print("Total sales of each product sold by the retailer \n",profit['Total Sales'].sum())
print("Total profit of each product sold by the retailer \n",profit['Operating Profit'].sum())

Total sales of each product sold by the retailer
 Retailer       Product
Amazon         Men's Apparel                10474770.0
               Men's Athletic Footwear      12011959.0
               Men's Street Footwear        22161652.0
               Women's Apparel              15710639.0
               Women's Athletic Footwear     7935255.0
               Women's Street Footwear       9404637.0
Foot Locker    Men's Apparel                29508995.0
               Men's Athletic Footwear      36480415.0
               Men's Street Footwear        57481575.0
               Women's Apparel              43296114.0
               Women's Athletic Footwear    24239624.0
               Women's Street Footwear      29087997.0
Kohl's         Men's Apparel                14164965.0
               Men's Athletic Footwear      17885316.0
               Men's Street Footwear        22421073.0
               Women's Apparel              20315239.0
               Women's Athletic Footwear    12493869.0
               Women's Street Footwear      14834291.0
Sports Direct  Men's Apparel                24825286.0
               Men's Athletic Footwear      30889734.0
               Men's Street Footwear        38672270.0
               Women's Apparel              37113257.0
               Women's Athletic Footwear    23145288.0
               Women's Street Footwear      27825162.0
Walmart        Men's Apparel                11490680.0
               Men's Athletic Footwear      13600404.0
               Men's Street Footwear        14924255.0
               Women's Apparel              15316099.0
               Women's Athletic Footwear     8762792.0
               Women's Street Footwear      10464180.0
West Gear      Men's Apparel                33263936.0
               Men's Athletic Footwear      42805852.0
               Men's Street Footwear        53165419.0
               Women's Apparel              47287512.0
               Women's Athletic Footwear    30055068.0
               Women's Street Footwear      36386546.0
Name: Total Sales, dtype: float64
Total profit of each product sold by the retailer
 Retailer       Product
Amazon         Men's Apparel                 3331443.80
               Men's Athletic Footwear       4518030.11
               Men's Street Footwear         8707658.12
               Women's Apparel               6280071.53
               Women's Athletic Footwear     2701607.74
               Women's Street Footwear       3279692.01
Foot Locker    Men's Apparel                 9942404.61
               Men's Athletic Footwear      12409221.49
               Men's Street Footwear        23060809.17
               Women's Apparel              17192901.49
               Women's Athletic Footwear     8477313.73
               Women's Street Footwear       9639474.32
Kohl's         Men's Apparel                 5945043.20
               Men's Athletic Footwear       5725762.60
               Men's Street Footwear         9219819.89
               Women's Apparel               5596172.50
               Women's Athletic Footwear     4570693.09
               Women's Street Footwear       5753761.30
Sports Direct  Men's Apparel                 8723914.71
               Men's Athletic Footwear      11935672.81
               Men's Street Footwear        15837750.43
               Women's Apparel              17832960.67
               Women's Athletic Footwear     9688746.39
               Women's Street Footwear      10313909.95
Walmart        Men's Apparel                 3166591.22
               Men's Athletic Footwear       4029257.65
               Men's Street Footwear         5438666.13
               Women's Apparel               6348451.03
               Women's Athletic Footwear     3239052.49
               Women's Street Footwear       3560034.09
West Gear      Men's Apparel                13653632.79
               Men's Athletic Footwear      13228943.53
               Men's Street Footwear        20537556.88
               Women's Apparel              15400413.34
               Women's Athletic Footwear    10298371.50
               Women's Street Footwear      12548955.14
Name: Operating Profit, dtype: float64

In [ ]:
#8. Find the units sold, total sales &profit of the products sold between the dates 1/1/2020 and 4/15/2020.
from datetime import datetime
st_date=datetime.strptime('2020-01-01','%Y-%m-%d')
en_date=datetime.strptime('2020-04-15','%Y-%m-%d')
ad.loc[(ad["Invoice Date"]>=st_date) & (ad["Invoice Date"]<=en_date),['Invoice Date',"Units Sold","Total Sales","Operating Profit"]]

     Invoice Date  Units Sold  Total Sales  Operating Profit
0      2020-01-01        1200     600000.0         300000.00
1      2020-01-02        1000     500000.0         150000.00
2      2020-01-03        1000     400000.0         140000.00
3      2020-01-04         850     382500.0         133875.00
4      2020-01-05         900     540000.0         162000.00
...           ...         ...          ...               ...
8275   2020-03-14         170       9520.0           1713.60
8276   2020-03-15         149       2980.0           1192.00
8277   2020-03-16         145       4495.0           1123.75
8278   2020-03-17         128       3328.0           1397.76
8279   2020-03-18          96       2496.0            848.64

[425 rows x 4 columns]

In [ ]:
#9.	Find the no of units sold of each product by each retailer in every city.
rifa=ad.groupby(['Retailer','City','Product'])
rifa['Units Sold'].sum()

Retailer   City       Product
Amazon     Anchorage  Men's Apparel                2990
                      Men's Athletic Footwear      4478
                      Men's Street Footwear        7882
                      Women's Apparel              4995
                      Women's Athletic Footwear    2810
                                                   ...
West Gear  St. Louis  Men's Athletic Footwear      1084
                      Men's Street Footwear        1814
                      Women's Apparel              1189
                      Women's Athletic Footwear     851
                      Women's Street Footwear      1678
Name: Units Sold, Length: 618, dtype: int64

In [ ]:
#10.	Find the products with different price per unit in different cities with proper information.
pre=ad.groupby(["City","Price per Unit"])
pre["Product"].apply(list)

City        Price per Unit
Albany      29.0              [Women's Street Footwear, Women's Street Footw...
            30.0              [Women's Street Footwear, Women's Street Footw...
            33.0                                      [Women's Street Footwear]
            34.0              [Women's Street Footwear, Women's Athletic Foo...
            35.0              [Women's Street Footwear, Women's Street Footw...
                                                    ...
Wilmington  62.0                         [Men's Apparel, Men's Street Footwear]
            63.0                                              [Women's Apparel]
            64.0                                              [Women's Apparel]
            65.0              [Men's Apparel, Men's Street Footwear, Men's A...
            70.0              [Women's Apparel, Women's Apparel, Women's App...
Name: Product, Length: 2562, dtype: object

In [ ]:
#11.	Find the total sales &profits of all products in every month.
dat=ad.groupby(["Product",ad["Invoice Date"].dt.month,ad["Invoice Date"].dt.year])
print(dat["Total Sales"].sum())
print(dat["Operating Profit"].sum())

Product                  Invoice Date  Invoice Date
Men's Apparel            1             2020             2288362.0
                                       2021             7965056.0
                         2             2020             2284641.0
                                       2021             6946917.0
                         3             2020             2224467.0
                                                          ...
Women's Street Footwear  10            2021             7101951.0
                         11            2020             1559189.0
                                       2021             7265669.0
                         12            2020              952369.0
                                       2021            10547148.0
Name: Total Sales, Length: 144, dtype: float64
Product                  Invoice Date  Invoice Date
Men's Apparel            1             2020             857217.30
                                       2021            3283757.97
                         2             2020             994034.84
                                       2021            2739326.41
                         3             2020             891135.65
                                                          ...
Women's Street Footwear  10            2021            2633541.98
                         11            2020             535879.98
                                       2021            2517466.24
                         12            2020             347092.41
                                       2021            3699986.98
Name: Operating Profit, Length: 144, dtype: float64

In [ ]:
#12.    Find the total sales &profit of the products in different sales methods in each city.
sale=ad.groupby(["Sales Method","City"])
print("Total sales:",sale["Total Sales"].sum())
print("Total profit:",sale["Operating Profit"].sum())

Total sales: Sales Method  City
In-store      Albany            23815000.0
              Baltimore          7563250.0
              Boston            10553750.0
              Burlington        13679250.0
              Charleston        10420000.0
                                   ...
Outlet        Portland           9445482.0
              Providence          190686.0
              Richmond            485229.0
              Salt Lake City      224438.0
              San Francisco     33680352.0
Name: Total Sales, Length: 112, dtype: float64
Total profit: Sales Method  City
In-store      Albany            9121062.50
              Baltimore         2664612.50
              Boston            3151637.50
              Burlington        5456525.00
              Charleston        4142250.00
                                   ...
Outlet        Portland          3270671.47
              Providence          76759.23
              Richmond           193031.55
              Salt Lake City      99384.57
              San Francisco     9900805.90
Name: Operating Profit, Length: 112, dtype: float64

In [ ]:
#13. Find the retailers who sold the same product with different prices in different cities.
fin=ad.groupby(["Retailer","Product","City"])
fin["Price per Unit"].unique().apply(list)

Retailer   Product                  City
Amazon     Men's Apparel            Anchorage         [65.00000000000001, 65.00000000000001, 60.0000...
                                    Boston            [65.0, 65.0, 55.00000000000001, 63.0, 62.0, 52...
                                    Burlington        [55.00000000000001, 55.00000000000001, 55.0000...
                                    Charlotte                                  [70.0, 45.0, 65.0, 44.0]
                                    Columbus          [45.0, 40.00000000000001, 45.0, 49.99999999999...
                                                                            ...
West Gear  Women's Street Footwear  Portland          [45.0, 54.99999999999999, 60.00000000000001, 5...
                                    Salt Lake City    [20.000000000000007, 15.000000000000007, 25.00...
                                    San Francisco     [50.0, 60.0, 65.0, 65.0, 65.0, 65.0, 65.0, 55....
                                    Seattle           [50.0, 64.99999999999999, 75.0, 65.0, 80.0, 85...
                                    St. Louis         [35.0, 15.000000000000002, 15.000000000000002,...
Name: Price per Unit, Length: 618, dtype: object

In [ ]:
#14. Find the products whose sales raises in every month. 
s=ad["Product"].unique()
l=list(s)
l.sort()
l

["Men's Apparel",
 "Men's Athletic Footwear",
 "Men's Street Footwear",
 "Women's Apparel",
 "Women's Athletic Footwear",
 "Women's Street Footwear"]

In [ ]:
prod=ad.groupby(["Product",ad["Invoice Date"].dt.month,ad["Invoice Date"].dt.year])
g=prod["Total Sales"].sum() 
g.dtype
li=list(g)
g

Product                  Invoice Date  Invoice Date
Men's Apparel            1             2020             2288362.0
                                       2021             7965056.0
                         2             2020             2284641.0
                                       2021             6946917.0
                         3             2020             2224467.0
                                                          ...
Women's Street Footwear  10            2021             7101951.0
                         11            2020             1559189.0
                                       2021             7265669.0
                         12            2020              952369.0
                                       2021            10547148.0
Name: Total Sales, Length: 144, dtype: float64

In [ ]:
dic1={}
dic2={}
k=0
m=24
for i in l:
    dic1[i]=li[k:m:2]
    dic2[i]=li[k+1:m:2]
    k=m
    m+=24
print(dic1 )
print(dic2)

{"Men's Apparel": [2288362.0, 2284641.0, 2224467.0, 3789599.0, 2992951.0, 846588.0, 2355696.0, 3069057.0, 2759599.0, 1681612.0, 906313.0000000001, 1018079.0], "Men's Athletic Footwear": [2639958.0, 3055928.0, 3176299.0000000005, 4197444.0, 2913820.0000000005, 1541967.0, 3093292.0000000005, 4201586.0, 2741893.0000000005, 1482040.0, 1684996.0, 1065239.0], "Men's Street Footwear": [3859495.0, 2882776.0, 3683790.0, 5403244.0, 3209137.0, 1831450.0, 3840096.0000000005, 3244959.0, 3504026.0, 1994487.0, 2258139.0, 2111421.0], "Women's Apparel": [3066713.0, 2113861.0, 3570368.0, 4931081.0, 3322570.0, 1857493.0, 3291716.0, 3748758.0, 3835693.0000000005, 2342771.0, 1418844.0, 1690464.0], "Women's Athletic Footwear": [1990181.0, 2181938.0, 2379327.0, 2931669.0, 2160044.0000000005, 1150501.0, 2186525.0, 2687600.0, 2447313.0, 1531020.0000000002, 794819.0, 1188955.0], "Women's Street Footwear": [2409037.0, 2478844.0, 2626326.0, 3353969.0, 2319492.0000000005, 1601820.0, 2378688.0000000005, 2926020.0, 3015912.0, 1804339.0000000002, 1559189.0, 952369.0]}
{"Men's Apparel": [7965056.0, 6946917.0, 5349925.0, 6114878.0, 8473896.0, 8631182.0, 10765350.0, 8708527.0, 7473855.0, 6936133.0, 9487223.0, 10658726.0], "Men's Athletic Footwear": [10451678.0, 7839214.0, 6743397.0, 7744805.0, 9947688.0, 9725886.0, 12968988.000000002, 13974791.000000002, 11595725.000000002, 9236718.000000002, 8455290.000000002, 13195038.000000002], "Men's Street Footwear": [11734700.0, 11316559.0, 9590963.0, 11399753.0, 15435431.0, 15402319.0, 19244657.0, 18607030.0, 14285930.0, 12557222.0, 12474812.0, 18953848.0], "Women's Apparel": [10286615.0, 8295794.0, 6714950.0, 10199898.0, 13658307.0, 15519917.0, 16233109.0, 12228186.0, 11119933.0, 11051405.0, 13629706.0, 14910708.0], "Women's Athletic Footwear": [6357156.0, 5029660.0, 4741774.0, 5188747.0, 7269641.0, 7593562.0, 8633584.0, 8139077.0, 6385166.000000001, 6191335.000000001, 7922340.000000002, 9549962.000000002], "Women's Street Footwear": [8430191.0, 6674021.000000001, 6007523.0, 7084883.0, 8804718.0, 9044687.0, 10488993.0, 10630610.0, 8496414.0, 7101951.000000001, 7265669.000000001, 10547148.000000002]}

In [ ]:
res=[]
def ismonotonic(dic):
   for i in dic:
      print(i)
      print(dic[i])
      if(dic[i]==sorted(dic[i])):
         res.append(i)
   print(res) 
ismonotonic(dic1)
ismonotonic(dic2)

Men's Apparel
[2288362.0, 2284641.0, 2224467.0, 3789599.0, 2992951.0, 846588.0, 2355696.0, 3069057.0, 2759599.0, 1681612.0, 906313.0000000001, 1018079.0]
Men's Athletic Footwear
[2639958.0, 3055928.0, 3176299.0000000005, 4197444.0, 2913820.0000000005, 1541967.0, 3093292.0000000005, 4201586.0, 2741893.0000000005, 1482040.0, 1684996.0, 1065239.0]
Men's Street Footwear
[3859495.0, 2882776.0, 3683790.0, 5403244.0, 3209137.0, 1831450.0, 3840096.0000000005, 3244959.0, 3504026.0, 1994487.0, 2258139.0, 2111421.0]
Women's Apparel
[3066713.0, 2113861.0, 3570368.0, 4931081.0, 3322570.0, 1857493.0, 3291716.0, 3748758.0, 3835693.0000000005, 2342771.0, 1418844.0, 1690464.0]
Women's Athletic Footwear
[1990181.0, 2181938.0, 2379327.0, 2931669.0, 2160044.0000000005, 1150501.0, 2186525.0, 2687600.0, 2447313.0, 1531020.0000000002, 794819.0, 1188955.0]
Women's Street Footwear
[2409037.0, 2478844.0, 2626326.0, 3353969.0, 2319492.0000000005, 1601820.0, 2378688.0000000005, 2926020.0, 3015912.0, 1804339.0000000002, 1559189.0, 952369.0]
[]
Men's Apparel
[7965056.0, 6946917.0, 5349925.0, 6114878.0, 8473896.0, 8631182.0, 10765350.0, 8708527.0, 7473855.0, 6936133.0, 9487223.0, 10658726.0]
Men's Athletic Footwear
[10451678.0, 7839214.0, 6743397.0, 7744805.0, 9947688.0, 9725886.0, 12968988.000000002, 13974791.000000002, 11595725.000000002, 9236718.000000002, 8455290.000000002, 13195038.000000002]
Men's Street Footwear
[11734700.0, 11316559.0, 9590963.0, 11399753.0, 15435431.0, 15402319.0, 19244657.0, 18607030.0, 14285930.0, 12557222.0, 12474812.0, 18953848.0]
Women's Apparel
[10286615.0, 8295794.0, 6714950.0, 10199898.0, 13658307.0, 15519917.0, 16233109.0, 12228186.0, 11119933.0, 11051405.0, 13629706.0, 14910708.0]
Women's Athletic Footwear
[6357156.0, 5029660.0, 4741774.0, 5188747.0, 7269641.0, 7593562.0, 8633584.0, 8139077.0, 6385166.000000001, 6191335.000000001, 7922340.000000002, 9549962.000000002]
Women's Street Footwear
[8430191.0, 6674021.000000001, 6007523.0, 7084883.0, 8804718.0, 9044687.0, 10488993.0, 10630610.0, 8496414.0, 7101951.000000001, 7265669.000000001, 10547148.000000002]
[]

In [ ]:
di={}
di['1']=[1,2,3,4,5]
di['2']=[5,4,3,2,1]
ismonotonic(di)

1
[1, 2, 3, 4, 5]
2
[5, 4, 3, 2, 1]
['1']

In [ ]:
#15.	Find the retailers whose profit increased every month.
ret1=ad.groupby(["Retailer",ad["Invoice Date"].dt.month,ad["Invoice Date"].dt.year])
op=ret1["Operating Profit"].sum()
print(op)
o=list(op)
lo=list(ad["Retailer"].unique())
lo.sort()
di1={}
di2={}
x=0
y=24
for i in lo:
  di1[i]=o[x:y:2]
  di2[i]=o[x+1:y:2]
  x=y
  y=y+24
print(di1)
print(di2)

Retailer   Invoice Date  Invoice Date
Amazon     1             2021            1510504.30
           2             2021            1718412.67
           3             2021            1538595.61
           4             2021            1477973.80
           5             2021            2337932.60
                                            ...
West Gear  10            2021            2921414.42
           11            2020            1704195.27
                         2021            4256055.92
           12            2020            1440212.38
                         2021            6232275.13
Name: Operating Profit, Length: 104, dtype: float64
{'Amazon': [1510504.3, 1538595.61, 2337932.6, 3214699.2600000002, 2166507.8000000003, 3147575.7800000003, 3544899.0, 1740765.27, 3654874.71, 332291.16, 497331.38, 8283187.68], 'Foot Locker': [2449680.7, 967544.3800000001, 433397.87, 1079280.9700000002, 968717.6799999999, 3565743.93, 3664048.61, 6150321.76, 2281553.03, 1691844.3, 2133540.6500000004, 2749782.47], "Kohl's": [2415666.0300000003, 6122853.77, 5866481.74, 1281606.83, 990998.2999999999, 1017489.5500000002, 1748543.5400000003, 4699689.840000001, 99590.71, 2909813.2600000002, 1520526.26, 1650002.7], 'Sports Direct': [2683283.68, 2561997.7, 1613528.9900000002, 1273494.1500000001, 631767.0000000001, 7797771.45, 4412804.98, 2519346.5, 2822357.0700000003, 4135097.08, 6102337.35, 7211202.73], 'Walmart': [5151923.8, 2648147.0200000005, 1704195.27, 1440212.3800000001], 'West Gear': []}
{'Amazon': [1718412.6700000002, 1477973.8, 2805013.9, 2908765.97, 2404604.85, 3587916.77, 3761780.79, 3406118.47, 2990421.87, 2855056.97, 4630771.4799999995, 9486203.44], 'Foot Locker': [6286252.58, 2966561.8800000004, 3912707.7700000005, 6458173.69, 10016105.07, 4132789.4, 4280307.71, 2033911.57, 2222748.99, 1601393.9900000002, 303266.17, 2676128.63], "Kohl's": [3684733.67, 751295.8200000001, 3547535.31, 4260291.34, 7980826.720000001, 12803294.3, 8825360.21, 5660159.36, 180635.48, 699394.65, 954808.72, 186798.0], 'Sports Direct': [3174245.18, 2407629.02, 1957527.8, 1277009.3100000003, 2285106.41, 3466589.1700000004, 2207131.5500000003, 6059188.92, 3101688.4900000007, 2292727.41, 3449260.2800000003, 724000.3600000001], 'Walmart': [2727039.49, 2921414.4200000004, 4256055.92, 6232275.13], 'West Gear': []}