In [ ]:
#1. Print the dataset iris 
import pandas as pd
ir=pd.read_csv("/content/IRIS.csv")
ir

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
#2.	Print the structure of the dataset iris 
ir.shape

(150, 5)

In [ ]:
#3.	Print the summary of all the variables of the dataset iris 
ir.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
#4.	How many of the variables (columns) are in the dataset iris 
print("Th number of variables in the iris dataset are:",len(ir.columns))

Th number of variables in the iris dataset are: 5

In [ ]:
#5.	How many observations (rows) are in the dataset iris 
print("The number of rows in the iris dataset are:",len(ir.index))

The number of rows in the iris dataset are: 150

In [ ]:
#6.	Use duplicated() function to print the logical vector indicating the duplicate values present in the dataset iris
b=ir.duplicated(keep='first')
b

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool

In [ ]:
#7.	Extract duplicate elements from the dataset iris 
dup=ir[ir.duplicated()]
dup

     sepal_length  sepal_width  petal_length  petal_width         species
34            4.9          3.1           1.5          0.1     Iris-setosa
37            4.9          3.1           1.5          0.1     Iris-setosa
142           5.8          2.7           5.1          1.9  Iris-virginica

In [ ]:
#8.	Extract unique elements from the dataset iris 
dfr=ir.drop_duplicates()
dfr

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[147 rows x 5 columns]

In [ ]:
#9.	Print the indices of duplicate elements in the dataset iris 
ir[ir.duplicated()].index

Int64Index([34, 37, 142], dtype='int64')

In [ ]:
#10.	Print the indices of unique elements in the dataset iris 
ir.drop_duplicates().index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            139, 140, 141, 143, 144, 145, 146, 147, 148, 149],
           dtype='int64', length=147)

In [ ]:
#11.	How many unique elements are in the dataset iris 
len(ir.drop_duplicates().index)

147

In [ ]:
#12.	How many duplicate elements are in the dataset iris 
len(ir[ir.duplicated()].index)

3

In [ ]:
4#13.	Print  the sorted elements in the dataset iris(Ascending  order)
ir.sort_values("petal_width",ascending=True)

     sepal_length  sepal_width  petal_length  petal_width         species
32            5.2          4.1           1.5          0.1     Iris-setosa
13            4.3          3.0           1.1          0.1     Iris-setosa
37            4.9          3.1           1.5          0.1     Iris-setosa
9             4.9          3.1           1.5          0.1     Iris-setosa
12            4.8          3.0           1.4          0.1     Iris-setosa
..            ...          ...           ...          ...             ...
140           6.7          3.1           5.6          2.4  Iris-virginica
114           5.8          2.8           5.1          2.4  Iris-virginica
100           6.3          3.3           6.0          2.5  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
109           7.2          3.6           6.1          2.5  Iris-virginica

[150 rows x 5 columns]

In [ ]:
#14.	find whether any missing values are in the dataset iris
ir.isnull()

     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [ ]:
#15.	Display how many missing values are present in each column.
ir.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [ ]:
#16.	replace all missing values with zero
ir.fillna(0)

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
#17.	Calculate  Petal width mean ,median ,SD,Variance  for the species setosa
print("Mean:",ir["petal_width"].loc[ir["species"]=="Iris-setosa"].mean())
print("Median:",ir["petal_width"].loc[ir["species"]=="Iris-setosa"].median())
print("Standard-Deviation:",ir["petal_width"].loc[ir["species"]=="Iris-setosa"].std())

Mean: 0.244
Median: 0.2
Standard-Deviation: 0.1072095030816784

In [ ]:
#ir["petal_width"].loc[ir["species"]=="Iris-setosa"].mean()
ir.loc[10:20]

    sepal_length  sepal_width  petal_length  petal_width      species
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa
15           5.7          4.4           1.5          0.4  Iris-setosa
16           5.4          3.9           1.3          0.4  Iris-setosa
17           5.1          3.5           1.4          0.3  Iris-setosa
18           5.7          3.8           1.7          0.3  Iris-setosa
19           5.1          3.8           1.5          0.3  Iris-setosa
20           5.4          3.4           1.7          0.2  Iris-setosa

In [ ]:
#19.	Print Species and its corresponding Petal length and Width.
ir[["species","petal_length","petal_width"]]

            species  petal_length  petal_width
0       Iris-setosa           1.4          0.2
1       Iris-setosa           1.4          0.2
2       Iris-setosa           1.3          0.2
3       Iris-setosa           1.5          0.2
4       Iris-setosa           1.4          0.2
..              ...           ...          ...
145  Iris-virginica           5.2          2.3
146  Iris-virginica           5.0          1.9
147  Iris-virginica           5.2          2.0
148  Iris-virginica           5.4          2.3
149  Iris-virginica           5.1          1.8

[150 rows x 3 columns]

In [ ]:
#20.	display records only with species "Iris-setosa"
ir.loc[ir["species"]=="Iris-setosa"]

    sepal_length  sepal_width  petal_length  petal_width      species
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa
15           5.7          4.4           1.5          0.4  Iris-setosa
16           5.4          3.9           1.3          0.4  Iris-setosa
17           5.1          3.5           1.4          0.3  Iris-setosa
18           5.7          3.8           1.7          0.3  Iris-setosa
19           5.1          3.8           1.5          0.3  Iris-setosa
20           5.4          3.4           1.7          0.2  Iris-setosa
21           5.1          3.7           1.5          0.4  Iris-setosa
22           4.6          3.6           1.0          0.2  Iris-setosa
23           5.1          3.3           1.7          0.5  Iris-setosa
24           4.8          3.4           1.9          0.2  Iris-setosa
25           5.0          3.0           1.6          0.2  Iris-setosa
26           5.0          3.4           1.6          0.4  Iris-setosa
27           5.2          3.5           1.5          0.2  Iris-setosa
28           5.2          3.4           1.4          0.2  Iris-setosa
29           4.7          3.2           1.6          0.2  Iris-setosa
30           4.8          3.1           1.6          0.2  Iris-setosa
31           5.4          3.4           1.5          0.4  Iris-setosa
32           5.2          4.1           1.5          0.1  Iris-setosa
33           5.5          4.2           1.4          0.2  Iris-setosa
34           4.9          3.1           1.5          0.1  Iris-setosa
35           5.0          3.2           1.2          0.2  Iris-setosa
36           5.5          3.5           1.3          0.2  Iris-setosa
37           4.9          3.1           1.5          0.1  Iris-setosa
38           4.4          3.0           1.3          0.2  Iris-setosa
39           5.1          3.4           1.5          0.2  Iris-setosa
40           5.0          3.5           1.3          0.3  Iris-setosa
41           4.5          2.3           1.3          0.3  Iris-setosa
42           4.4          3.2           1.3          0.2  Iris-setosa
43           5.0          3.5           1.6          0.6  Iris-setosa
44           5.1          3.8           1.9          0.4  Iris-setosa
45           4.8          3.0           1.4          0.3  Iris-setosa
46           5.1          3.8           1.6          0.2  Iris-setosa
47           4.6          3.2           1.4          0.2  Iris-setosa
48           5.3          3.7           1.5          0.2  Iris-setosa
49           5.0          3.3           1.4          0.2  Iris-setosa

In [ ]:
#21.	Count number of times a particular species has occurred.
ir["species"].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: species, dtype: int64

In [ ]:
#22.	Identifying minimum and maximum Value of Sepal width.
print("Maximum:",ir["sepal_width"].max())
print("Minimum:",ir["sepal_width"].min())

Maximum: 4.4
Minimum: 2.0

In [ ]:
#23.	Add new column to store sum of  first four column values
ir["sum_of_values"]=ir["sepal_length"]+ir["sepal_width"]+ir["petal_length"]+ir["petal_width"]
ir

,sepal_length,sepal_width,petal_length,petal_width,species,sum_of_values
0,5.1,3.5,1.4,0.2,Iris-setosa,10.2
1,4.9,3.0,1.4,0.2,Iris-setosa,9.5
2,4.7,3.2,1.3,0.2,Iris-setosa,9.4
3,4.6,3.1,1.5,0.2,Iris-setosa,9.4
4,5.0,3.6,1.4,0.2,Iris-setosa,10.2
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,17.2
146,6.3,2.5,5.0,1.9,Iris-virginica,15.7
147,6.5,3.0,5.2,2.0,Iris-virginica,16.7
148,6.2,3.4,5.4,2.3,Iris-virginica,17.3
149,5.9,3.0,5.1,1.8,Iris-virginica,15.8